@import "tailwindcss";

/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

html{
  scroll-behavior:smooth;
}

body {
  background-color: #0F172A;
  color: #E2E8F0;
  margin: 0;
  font-family: sans-serif;
}